# Ignora arquivos binários e objetos de compilação
*.o
*.out
*.exe
*.mk

.dist/
.build-Debug/
.codelite/
-p/
makefile


# Ignora arquivos temporários de backup do editor
*~
*.swp

# Ignora arquivos de log
debug.log

# Ignora executáveis gerados
debug/
programa

build-Debug/
.cache/
